$primaryred: #932725;
$background: #e2e1df;
$primaryblue: #222e47;
$footer: #353330;
$blackfont: #000000;
$backgroundwhite: #FFFFFF;
$hover: #3d4049;

$fontbase:'poppins', sans-serif;
$fontspecial: 'Montserrat', sans-serif;

$spacer:10px;