@use 'base';

.zahlavi-kontakt{
    background-attachment: fixed;
    background-color: base.$footer;
    color: base.$backgroundwhite;
    text-align: center;
}

.aktuality
{
    max-width: 1200px;
    margin-left: auto; 
	margin-right: auto;
    padding: 30px;
}

.content-contact{
    margin: 30px;
}

.content-kontakt{
    max-width: 1200px;
    margin-left: auto; 
	margin-right: auto; 
    background-color: base.$background;
    border-radius: 20px;
    padding: 20px;
}

label, textarea{
    display: block;
    margin-top: 10px;
}

.form{
    padding-top: 20px;
    max-width: 400px;
}